In [0]:
%flink.ssql(type=update)
DROP TABLE big_data_stream_data

In [1]:
%flink.ssql(type=update)
CREATE TABLE big_data_stream_data (
  `id` BIGINT,
  `date` TIMESTAMP(3),
  `block` STRING,
  `iucr` STRING,
  `primary_type` STRING,
  `description` STRING,
  `location_description` STRING,
  `arrest` STRING,
  `domestic` STRING,
  `beat` STRING,
  `district` STRING,
  `ward` STRING,
  `community_area` STRING,
  `fbi_code` STRING,
  `x_coordinate` STRING,
  `y_coordinate` STRING,
  `year` STRING,
  `updated_on` STRING,
  `latitude` STRING,
  WATERMARK FOR  `date` AS  `date`
)
PARTITIONED BY (`date`, block)
WITH (
  'connector' = 'kinesis',
  'stream' = 'bigcrime-streaming',
  'aws.region' = 'us-east-1',
  'scan.stream.initpos' = 'LATEST',
  'format' = 'json'
);

In [2]:
%flink.ssql(type=update)
select * from big_data_stream_data

In [3]:
%flink.ssql(type=update)

SELECT 
    community_area, 
    count(1) AS cnt
FROM big_data_stream_data
WHERE community_area IS NOT NULL
GROUP BY community_area

In [4]:
%flink.ssql(type=update)

SELECT 
    DAYOFWEEK(`date`), 
    count(1) AS cnt
FROM big_data_stream_data
GROUP BY DAYOFWEEK(`date`)

In [5]:
%flink.ssql(type=update)

SELECT 
   primary_type, 
    COUNT(1) AS cnt
FROM big_data_stream_data
GROUP BY primary_type

In [6]:
%flink.ssql(type=update)

SELECT 
   location_description, 
    count(1) AS cnt
FROM big_data_stream_data
GROUP BY location_description

In [7]:
%flink.ssql(type=update)

SELECT YEAR(window_start) AS _year, MONTH(window_start) AS _month, DAYOFMONTH(window_start) AS _day, COUNT(1) AS cnt
  FROM TABLE(
    TUMBLE(TABLE big_data_stream_data, DESCRIPTOR(`date`), INTERVAL '1' DAY))
  GROUP BY window_start, window_end;

In [8]:
%flink.ssql(type=update)

SELECT window_start, COUNT(1) AS cnt
  FROM TABLE(
    TUMBLE(TABLE big_data_stream_data, DESCRIPTOR(`date`), INTERVAL '1' DAY))
  GROUP BY window_start, window_end;

In [9]:
%flink.ssql(type=update)

SELECT window_start, COUNT(1) AS cnt
  FROM TABLE(
    TUMBLE(TABLE big_data_stream_data, DESCRIPTOR(`date`), INTERVAL '30' DAY))
  GROUP BY window_start, window_end;

In [10]:
%flink.ssql